.btn-group {
  &__container {
  }

  &__item {
    float: left;
    border: 1px solid black;
    cursor: pointer;
    box-sizing: border-box;
    overflow: hidden;

    &:not(:last-child) {
      border-right: none;
    }

    &:first-child {
      border-radius: 5px 0 0 5px;
    }

    &:last-child {
      border-radius: 0 5px 5px 0;
    }
  }
}
