@import '../../../styles/variables.scss';
@import '../../../styles/theme.scss';

.btn-group {
  &__item {
    float: left;
    border: 1px solid black;
    cursor: pointer;
    box-sizing: border-box;
    overflow: hidden;

    &:not(:last-child) {
      border-right: none;
    }

    &:first-child {
      border-radius: 5px 0 0 5px;
    }

    &:last-child {
      border-radius: 0 5px 5px 0;
    }

    &--active {
      background-color: $primary-color;
    }

    // TODO refactor
    &:not(&--active) > button {
      @extend .text-regular;
      background-color: white;

      &:hover {
        color: white;
        background-color: $primary-hovered-color;
      }
    }
  }
}
