* {
  font-family: 'Inter', sans-serif;
}

.text-regular {
  font-size: $text-regular-size;
  color: $text-regular-color;
}

.content__container {
  margin: 0 auto;
  width: $content-lg-width;
}

.t-bold {
  font-weight: 700;
}

.page-title {
  font-size: 1.5rem;
}

a {
  color: $text-regular-color;
  text-decoration: none;
}
