@import '../../../styles/variables.scss';

$variants: (
  'primary': $primary-color,
  'danger': $danger-color,
);

.btn {
  display: inline-block;
  padding: 5px 20px;
  border: none;
  border-radius: 5px;

  @each $key, $value in $variants {
    &--#{$key} {
      color: white;
      background-color: $value;
    }
  }

  &:hover {
    color: white;
    background-color: $primary-hovered-color;
    cursor: pointer;
  }
}
