@import '../../styles/variables.scss';
@import '../../styles/theme.scss';

.btn-group {
  display: inline-flex;
  position: relative;

  & > .btn {
    position: relative;
    flex: 1 1 auto;
    border: 1px solid $base-border-color;
  }

  > .btn:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
  }

  > .btn:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
