@import '../../styles/theme.scss';
$primary-color: #0d6efd;

.menu__container {
  position: absolute;
  border: 1px solid $border-default-color;
  border-radius: 5px;
  top: 3rem;
  right: -0.2rem;
  background-color: #fff;
  font-size: 0.9rem;

  &:after {
    content: '';
    position: absolute;
    top: -7px;
    right: 15px;
    z-index: 1;
    border-bottom: 7px solid #fff;
    border-left: 7px solid transparent;
    border-right: solid 7px transparent;
  }

  & * {
    user-select: none;
  }

  & > ul {
    list-style-type: none;
  }
}

.menu_section {
  border-bottom: 1px solid $border-default-color;
  padding: 5px 0;

  &--non-border {
    border: none;
  }
}

.menu_list__item {
  padding: 7px 9px;

  &:hover {
    background-color: $primary-color;
    color: white;
  }
}

.menu_header {
  padding: 5px 10px;
}
